@import "tailwindcss";

.my-scroll-container {
    overflow-y: auto;
    /* or scroll */
}

.my-scroll-container::-webkit-scrollbar {
    width: 8px;
}

.my-scroll-container::-webkit-scrollbar-track {
    background: #252323;
    border-radius: 8px;
}

.my-scroll-container::-webkit-scrollbar-thumb {
    background: #030303;
    border-radius: 8px;
}

.my-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}